<!-- Hero Content -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>PLNT MGMT</h1>
      <h3>Keep your plants happy!</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <%= link_to "Login", {controller: "sessions", action: "new"}, class: "btn btn-secondary btn-lg" %>
        </li>
        <li class="list-inline-item">
          <%= link_to "Register", {controller: "users", action: "new"}, class: "btn btn-secondary btn-lg" %>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"> The PLNT MGMT APP</h2>
        <p class="lead">PLNT MGMT aims to help you keep track of your
          various house plants by their general watering type. <br><br>Add your plants to
        your collection and PLNT MGMT will schedule them to watering groups and
      remind you by either text or emial.<br><br>
      Never forget to water your plants again!</p>
      </div>
      <div class="col-lg-5 mr-auto">
          <!-- place image -->
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>

<section class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 mr-auto order-lg-2">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Device Mockups<br>Will go here</h2>
        <p class="lead">Use
          <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a></p>
      </div>
      <div class="col-lg-5 ml-auto order-lg-1">
          <!-- place image -->
      </div>
    </div>

  </div>
  <!-- /.container -->

</section>


<aside class="banner">
  <div class="col-lg-6 my-auto">
    <h2>Find PLNT MGMT on</h2>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-lg-6 my-auto">
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
              <span class="network-name">Instagram</span>
              <i class="fa fa-instagram fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn btn-secondary btn-lg">
              <span class="network-name">Github</span>
              <i class="fa fa-github fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</aside>
