<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <%= link_to "Home", {controller: "users", action: "index"}, class: "nav-link" %>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <%= link_to "About", {controller: "plants", action: "index"}, class: "nav-link" %>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; Jason Rowland 2017. All Rights Reserved</p>
  </div>
</footer>
