<div class="container">
  <div class="user-content">
    <div class="main">
      <div class="container-a">
        <h1>User Profile</h1>
        <h2><% @user.username %></h2>
      </div>
    </div>
  </div>
</div>
