<div class="container">
  <div class="user-content">
    <div class="main event-new">
      <h2>Add Watering Cycle</h2>


      <%= render 'form', event: @event %>
      <br>

      <%= link_to 'Back', events_path %>
    </div>
  </div>
</div>
