<div class="container">
  <div class="user-content">
    <div class="main">
      <div class="info-page">
        <h2>Plant Care Tips</h2>
        <br>
        <h3>Common Mistakes</h3>
        <br>
        <h4>1. Not Enough Light</h4>
        <p>Direct sunlight is actually hundreds of times brighter than ambient
          light in an artificially-lit room, but the human eye is an amazingly
          adaptive, making changes in light levels seem small. You may not realize
          when your plant’s spot isn’t bright enough. Plants that need more light
          become lanky, floppy, pale or shed leaves, and can eventually die.
          If it’s growing but the new growth is pale and flimsy, it’s probably
          not getting enough light.</p>
        <h4>Solutions</h4>
        <ul>
          <li>Choose plants that are most commonly sold as leafy houseplants;
            most are adapted to grow slowly under a thick tropical rainforest
            canopy (rooted in wet tree trunks, or lying in wait for a big tree
            to fall so they can switch to cheetah mode and take its place). They
            can survive the relative darkness of a living room.
          </li>
          <li>If a plant looks like it needs more light, move it to a windowsill.
            Try keeping the blinds open. A window with closed blinds is as useful
            as a car without wheels.
          </li>
          <li>South-facing windows provide the best light, north-facing windows
            get the least light.
          </li>
          <li>Move plants as infrequently as possible so their leaves can orient
            themselves towards light. If you re-locate or rotate plants, older
            leaves may die and the plant has to grow new ones that face the light.
          </li>
          <li>Plants you buy seasonally, like poinsettias, amaryllises or Christmas
            cactuses, are sold as “throw-away” plants because most people don’t give
            them enough light. But they’ll thrive for years in a West or South-facing
            windowsill.
          </li>
        </ul>
        <br>
        <h4>2. Watering Wrong</h4>
        <p>Most novices are dumbfounded when a healthy-looking houseplant
          dies so suddenly from being dry. But it’s not that they forgot to water
          – it’s that they water wrong.
          <br>
          They buy a plant looking pretty and lush, pay it lots of attention and
          water it often. This can actually cause the palnt to get dpeendant and
          grow a weak root system.
          <br>
          When the novelty of new houseplants wears off, they water the plant less.
          The plants adjust to the sudden drought by shedding leaves, but their
          caretakers assume they’re dying and often give up and throw them out.
          If the soil gets bone-dry, water will pass through without soaking in,
          and plant-keepers see the drainage and assume the soil is saturated when
          the opposite is true.</p>
        <h4>Solutions</h4>
        <ul>
          <li>Plants are sold in tiny pots; re-pot them in bigger ones right away.
            More soil holds more water and stays moist longer. Make sure the new
            pot has drainage holes in the bottom.
          </li>
          <li>Water a plant less often, but when you do, soak it thoroughly in the
            sink or with a pitcher. The wet-dry cycle encourages stronger roots and
            prevents root rot.
          </li>
          <li>If the soil gets so dry it won’t absorb water, set the pot in the
            sink and put the faucet on a slow trickle for 15 minutes. After watering,
            the pot should feel much heavier.
          </li>
        </ul>
        <%= link_to 'Back', plants_dashboard_path %>
      </div>
    </div>
  </div>
</div>
