<div class="container">
  <div class="intro-message">
    <div class="main">
      <div>
        <h2>Plant Info Page</h2>

        <h3>Types</h3>
        <br>
        <h4>Dry</h4>
        <h4>Moderate</h4>
        <h4>Wet</h4>
        <br>
        <h3>Is Your Plant Sad?</h3>
        <br>
        <h4>How to identify common plant ailments:</h4>
        <br>
        
      </div>
    </div>
  </div>
</div>
