<div class="container">
  <div class="user-content">
    <div class="main type">
      <div class="center">
        <div class="row">
          <h2>Water Loving Plants</h2>
          <i class="fa fa-tint fa-2x" aria-hidden="true" id="water-drop"></i>
          <i class="fa fa-tint fa-2x" aria-hidden="true" id="water-drop"></i>
          <i class="fa fa-tint fa-2x" aria-hidden="true" id="water-drop"></i>
        </div>
          <% if @plants.present? %>
            <% @plants.each do |plant| %>
              <div class="plant">
                <%= link_to plant.name, plant_path(plant) %>
              </div>
            <% end %>
          <% else %>
            <h3>You have no plants of this type</h3>
          <% end %>
          <br>
          <%= link_to 'Add New Plant', new_plant_path %>
          <br>
          <%= link_to 'Back', plants_dashboard_path %>
      </div>
    </div>
  </div>
</div>
